body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

.backgroundImageBox {
  position: relative;
  min-height: 100vh;
  font-family: sans-serif;
  background: url('./images/fog_blurred.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoBox {
  background-color: white;
  width: 800px;
  min-height: 600px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px grey;
  font-size: 16px;
}

p {
  font-size: 16px;
}

button {
  font-size: 16px;
  background-color: white;
  border: solid 2px white;
}

button:hover {
  cursor: pointer;
  border: solid 2px black;
}

.todoHeader {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  background-color: pink;
  font-size: 22px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  overflow: hidden;
  padding: 10px 30px;
  background: linear-gradient(90deg, yellow, white 50px);
}

.highPriority {
  background: linear-gradient(90deg, red, white 50px);
}

.mediumPriority {
  background: linear-gradient(90deg, orange, white 50px);
}

.lowPriority {
  background: linear-gradient(90deg, green, white 50px);
}

.htmlList {
  background-color: white;
}

.itemAndButtons {
  display: flex;
}

.formBox {
  min-width: 350px;
  position: absolute;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  border: solid blue;
}

.addNewForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dueDateContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showMoreButton {
  background: url('./images/more.svg');
  background-size: 50% 50%;
  width: 30px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center; 
}

.editButton {
  background: url('./images/edit.svg');
  background-size: 50% 50%;
  width: 30px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center; 
}

.deleteButton {
  background: url('./images/bin.svg');
  background-size: 50% 50%;
  width: 30px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center; 
}

.formSubmit {
  margin-top: 20px;
}

.detailsBox {
  position: absolute;
  background-color: white;
  max-height: 900px;
  max-width: 600px;
  min-width: 350px;
  position: absolute;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  border: solid blue;
  font-size: 16px;
}

.detailsBoxHeader {
  display: flex;
  justify-content: space-between;
}

.closeButton {
  background-color: red;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  width: 30px;
  height: 30px;
}

.closeButton:hover {
  background-color: white;
  color: red;
  border: white;
}

.hidden {
  border:0px;
}